body {
    font-family: 'Montserrat';
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-black', sans-serif;
}


p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Container */

.container-fluid {
    padding: 7% 15%;
}

.color-section{
    background-color: #FFBBBB;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* navigation bar */

.navbar {
    padding-bottom: 4rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-black';
}

/* Button */

.download-btn {
    margin: 5% 3% 5% 0;
}

#title {
    background-color: #ef8172;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* title image */

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20rem;
}

/* feature Section */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: red;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3em;
}

.press.logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Secton */

#pricing {
    padding: 100px;
}

.price-taxt {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1000px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }

}

.social-icon {
    margin: 20px 10px;
}